# Add to .gitignore
cat >> .gitignore << EOL

# Windows executables (don't commit)
*.exe
*.dll

# Temporary files
*.part
*.tmp

# Rubberband binaries (Linux server will install separately)
bin/
rubberband.exe
rubberband-r3.exe
sndfile.dll

# Backup files
*.backup*
EOL
